{% extends 'catalog/base.html' %}


         {% block page %}

      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Response</th>
      <th scope="col">Method</th>
      <th scope="col">Path</th>
      <th scope="col">Time</th>
      <th scope="col">Is secure</th>
      <th scope="col">Is ajax</th>
      <th scope="col">IP</th>
      <th scope="col">User</th>
      <th scope="col">referer</th>
      <th scope="col">User agent</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>
  {% for request in requests %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{request.response}}</td>
      <td>{{request.method}}</td>
      <td>{{request.path}}</td>
      <td>{{request.time}}</td>
      <td>{{request.is_secure}}</td>
      <td>{{request.is_ajax}}</td>
      <td>{{request.ip}}</td>
      <td>{{request.user}}</td>
      <td>{{request.referer}}</td>
      <td>{{request.user_agent}}</td>
      <td>{{request.language}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% endblock page %}
